body {
    background: white;
    font-family: 'Raleway', sans-serif;
    color: #616161;
}

body h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #023047;
}

@media screen and (max-width: 600px) {
    body h2 {
        font-size: 36px;
    }
}

body p {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

@media screen and (max-width: 1000px) {
    body p {
        font-size: 13px;
    }
}

html {
    scroll-behavior: smooth;;
}

a {
    color: inherit;
} 

hr {
	width: 250px;
	max-width: 90%;
	border-top: 0px solid #ffb703;
	border-bottom: 3px solid #ffb703;
}

h1 {
    color:#023047;
    font-size: 50px;
}

.parallax {
    background: url("imgs/mahdi-soheili-m-jJ4wLjoIc-unsplash.jpg");
    min-height: 35rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  color: #ffffff;
  background-color: #ffb703;
  border-color: #ffb703;
}

.navbar-light .navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #023047;
}
@media screen and (max-width: 600px) {
    .navbar-light .navbar-brand {
        font-size: 18px;
    }
}

.fa-check {
    color:#023047
}

.fa-registered {
    color:#023047
}

#card .card-title {
    height: 3rem;
}

#card .card-text {
    height: 10rem;
}

#cover {
    height: 20rem;
}

#hr_cover {
    margin-right: 100%;
}

#hr_right {
    margin-right: 100%;
}
@media screen and (max-width: 600px) {
    #hr_right {
        margin-right: 10%;
    }
}

#contact {
    text-align: left;
}
@media screen and (max-width: 600px) {
    #contact {
        text-align: center;
    }
}

